.w100{
    width: 100%;
}
.jcc{
    justify-content: center;
}
.SEODetailWrapper {
    height: 20rem;
    overflow: hidden;
    transition: height 1s ease;
}
.toggle-more-info{
    width: 100%;
}
.toggle-button {
    background:red;
    color: white !important;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
 .SEODetailWrapper.expanded {
    height: auto;
}
.item-0 .cbp-item-wrapper img, 
.item-1 .cbp-item-wrapper img, 
.item-2 .cbp-item-wrapper img{
    width: 372px !important;
    height: 216px !important;
    left: 0px; 
    top: 0px;
    overflow: hidden;
    object-fit: cover;
}
.item-3 .cbp-item-wrapper img, 
.item-4 .cbp-item-wrapper img, 
.item-5 .cbp-item-wrapper img{
    width: 372px !important;
    height: 428px !important;
    overflow: hidden;
    object-fit: cover;
}
.imageFeatureContent{
 width: 448px !important;
    height: 363px !important;
    overflow: hidden;
    object-fit: cover;
        border: 10px solid #f6f6f6;
}
.imageLastBlog{
    width: 355px !important;
    height: 235px !important;
    overflow: hidden;
    object-fit: cover;
}
.pageImageBanner{
    width: 100% !important;
    height: auto  !important;
    overflow: hidden;
    object-fit: cover;
}
.mainSlide{
    margin-top: 5rem;
}
.carousel.slide .carousel-inner .carousel-item img{
    height: auto;
    object-fit: cover;
}

.vienanh{
    content: '';
    position: absolute;
    top: 121px;
    right: 460px;
    width: 450px;
    height: 340px;
    z-index: 0;
    background-color: transparent;
    border: 20px solid #f6f6f6;
}


/*--------*/
.header-top-area{
    height: auto;
    background: #000;
    width: 100%;
}

.bwtween-area-header-top {
       display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}

.bwtween-area-header-top .discount-area {
    display: flex
;
    align-items: center;
    gap: 15px;
}
 .bwtween-area-header-top p {
     margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #ffff;
}

@media (max-width: 1620px) {
    .vienanh{
        right: 265px;
    }
}


@media (max-width: 790px) {

.transparent-bg:not(.fixedmenu) {
    top: 30px;
}

.SEODetailWrapper h2 {
    font-size: 17px;
    text-align: justify;
    line-height: 27px;
}

.SEODetailWrapper h3 {
    font-size: 17px;
    text-align: justify;
    line-height: 27px;
}

#portfolio {
        height: 2075px !important;
}

.mainSlide {
    margin-top: 3.8rem;
}    

.transparent-bg:not(.fixedmenu) {
        background: #D9AD4A;
}
    
.bwtween-area-header-top {
    padding-top: 2px;
}
.bwtween-area-header-top p {
    font-size: 14px;
}

.contact-number-area{
    display: none;
}
.header-top-area {
    height: auto;
}

.navbar-brand {
    margin: 0;
    padding: 6px 0;
    width: 85%;
}

.business-setup {
    text-align: center;
    padding: 25px 20px 0px;
}

.card1 {
    padding: 15px;
}

.card1 p {
    font-size: 15px;
}

.heading-title h2 {
    line-height: 1.5;
}
.featureTitle {
    font-size: 22px;
}

.featureContent p {
    font-size: 16px;
    text-align: justify;
}

.vienanh {
  display:none;
}

#about .image .imageFeatureContent{
    width:100% !important;
    height: auto !important;
}

.bgdark {
    background: url(https://quangbathuonghieu.com.vn/src/docs/images/common/bg-linhvuckinhdoanh.png);
    padding: 3rem 21px !important;
    background-position: center center;
    background-repeat: no-repeat;  
    background-size: cover; 
}

.footer {
    background-position: center center !important;
    background-repeat: no-repeat !important;  
    background-size: cover !important; 
}

.heading-title h2 {
        font-size: 20px;
        font-weight: bold;
}
    
.heading-title h5 {
    line-height: 1.5;
    font-size:15px;
}

.heading_space_half h5{
    line-height: 1.5;
    font-size:17px;
} 

#about{
    padding-bottom:3rem !important;
}

.process-wrapp {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    
.process-wrapp li {
    width: 45%;
    padding: 35px 0px 0 0px;
}

.process-wrapp li:nth-child(5) {
    width: 60%; /* bạn có thể tùy chỉnh thành 50% hay 100% tùy layout */
    margin: auto;
}

#banner{
    padding: 2rem 1rem !important;
}

.SEODetailWrapper p {
    font-size: 16px;
    text-align: justify;
}

h2 {
        font-size: 15px;
}
    

#grid-mosaic{
    height: 1990px!important;
}

#portfolio{
    height: 2120px;
}

.heading-title>span {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}

.testi-box a{
    font-size: 18px;
}
.testi-box p{
    font-size: 16px;
    margin-top:0px;
}

.darkcolor {
    font-size: 20px;
}

#testimonial-slider .owl-nav {
        position: absolute;
        top: 215px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 1%;
    }

#blog{
    padding:2.5rem 0;
}

#blog .news_item {
        margin-bottom: 25px;
}

#blog .heading-title h2 {
    padding-bottom: 0 !important;
}

.news_item .news_desc {
    padding: 15px 20px;
}

.news_desc p {
    height: 7.5rem;
    overflow: hidden;
    font-size: 15px;
}

.news_item .news_desc h3 {
    font-size: 16px;
}

/*liên hệ mobile*/

.cols-form {
    align-items: start;
    gap: 15px !important;
    flex-wrap: wrap !important;
    background: #ED1925 !important;
    padding: 15px !important;
    width: 100% !important;
}
.cols-form >div:nth-child(1) {
        width: 100% !important;
}
.cols-form >div:nth-child(2) {
    width: 100% !important;
}

.form{
    padding: 15px !important;
    margin: auto !important;
}

.form::before {
   display: none !important;
}
.footer-top {
    display: none;
}

.copyright {
    font-size: 11px;
}

.wrap-form {
    padding: 0 0 1rem 0 !important;
}

#blog {
    padding: 2.5rem 0 1rem !important;
}

#contact .text-form p{
    font-size: 18px !important;
}
#contact .text-form span {
    font-size: 14px !important;
}

#site-footer .pt-5{
    padding-top: 1rem !important;
}

}


 /*LIÊN HỆ*/


.wrap-form {
    position: relative;
    padding: 3rem 0;
}
.wrap-content {
    max-width: 1200px;
    margin: auto;
}
.cols-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
    background: url(https://quangbathuonghieu.com.vn/src/docs/images/common/bg-form.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    padding: 50px;
    padding-right: 0;
    width: 95%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.cols-form >div:nth-child(1) {
    width: 49%;
    position: relative;
    text-align: center;
}
.text-form {
    text-align: center;
    margin-bottom: 1rem;
}
.text-form p {
    font-size: 37px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height:1.5;
}
.text-form span{
   color: #fff;
    font-style: italic; 
}

.qrCode_contact {
    width: 8rem;
    height: 8rem;
box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}


.cols-form >div:nth-child(2) {
    width: 42%;
    position: relative;
}


.form {
    position: relative;
    z-index: 3;
    margin: auto;
    text-align: center;
    padding: 35px;
    background: linear-gradient(90deg, rgba(217, 173, 74, 1) 0%, rgba(214, 20, 20, 1) 100%);
    margin-right: -13%;
}

.form::before {
    content: '';
    background: #740000;
    display: inline-block;
    width: 60px;
    height: 60px;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    position: absolute;
    right: 0px;
    top: -60px;
}

.title-form {
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
}


/*footer*/

.footer {
    background: url(https://quangbathuonghieu.com.vn/src/docs/images/common/bg-footer.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
}
.footer-top {
    position: relative;
}

.footer-top .wrap-content {
    padding: 50px 0;
    border-bottom: solid 1px #ffffff4d;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between;
    align-items: flex-start;
}
.items-footer {
    width: 24%;
    text-align: center;
}
.items-footer img{
    display: inline-block;
    max-width: 100% !important;
    height: auto !important;
}
.info-items-footer {
    margin-top: 15px;
}
.info-items-footer p {
    color: #fff;
    font-weight: bold;
    font-size:15px;
}
.info-items-footer span {
    color: #fff;
}

.footer .whitecolor{
    font-weight: bold;
    position: relative;
}

.footer .whitecolor::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #fff;
}

.items-footer img:hover {
    transform: scale(1.1);
        cursor: pointer;
}

.footer .pagename{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.footer a ,  .footer .links li a{
    font-size: 15px;
}
.footer a:hover ,  .footer .links li a:hover{
    font-weight:600;
    color: #fff !important;
}

.footer-powered p{
    border-top: solid 1px #ffffff4d;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
#widget {
    position: fixed;
    right: 6px;
    z-index: 99;
    top: 60%;
    margin-top: -66px;
}

.callmeText {
    position: absolute;
    z-index: 0;
    top: 26px;
    padding-left: 50px;
    width: 170px;
    height: 39px;
    line-height: 43px;
    background-color: #fff;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    margin-left: 25px;
}

.callmeTextzalo {
    position: absolute;
    z-index: 0;
    top: 86px;
    padding-left: 57px;
    width: 204px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    margin-left: 25px;
}

.phone_text {
    font-size: 16px;
    font-weight: bold;
    color: #cf0808;
}

#widget>a {
    display: block;
    text-align: center;
    border: 1px solid #0ea180;
    padding: 2px;
    border-radius: 50%;
    color: #FFF;
    font-size: 13px;
    background: #FFF;
    -webkit-box-shadow: 0 1px 5px #999;
    -moz-box-shadow: 0 1px 5px #999;
    box-shadow: 0 1px 5px #999;
    margin-bottom: 5px;
    height: 39px;
    width: 39px;
}

#widget>a:hover {
    display: block;
    text-align: center;
    border: 1px solid #f00;
    padding: 2px;
    border-radius: 50%;
    color: #FFF;
    font-size: 13px;
    background: #FFF;
    -webkit-box-shadow: 0 1px 5px #999;
    -moz-box-shadow: 0 1px 5px #999;
    box-shadow: 0 1px 5px #999;
    margin-bottom: 5px;
    height: 39px;
    width: 39px;
}

#widget>a [class*=fa] {
    background: #0ea180;
    display: block;
    line-height: 32px;
}

#widget>a [class*=fa],
#widget>a img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 200000 !important;
}

.suntory-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
    background-color: transaparent;
    /*	border: 2px solid rgba(30, 30, 30, 0.4); */
    border-radius: 100%;
    height: 100px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 100px;
}

.suntory-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 60px;
    left: 15px;
    position: absolute;
    top: 15px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 60px;
}

.suntory-alo-ph-img-circle {
    /* animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim; */
    border: 2px solid transparent;
    border-radius: 100%;
    height: 40px;
    left: 25px;
    opacity: 0.7;
    position: absolute;
    top: 25px;
    transform-origin: 50% 50% 0;
    width: 40px;
}

.suntory-alo-phone.suntory-alo-hover,
.suntory-alo-phone:hover {
    opacity: 1;
}

.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle,
.suntory-alo-phone:hover .suntory-alo-ph-circle {
    border-color: #d88f3f;
    opacity: 0.5;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
    border-color: #EB278D;
    opacity: 1;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
    border-color: #d88f3f;
    opacity: 1;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill,
.suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
    background-color: #d88f3f;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
    background-color: #EB278D;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
    background-color: #d88f3f;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle,
.suntory-alo-phone:hover .suntory-alo-ph-img-circle {
    background-color: #d88f3f;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle,
.suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
    background-color: #EB278D;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
    background-color: #d88f3f;
}

@keyframes suntory-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }

    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }

    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }

    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}

.suntory-alo-ph-img-circle i {
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
    font-size: 20px;
    line-height: 37px;
    padding-left: 7px;
    color: #fff;
}

/*=================== End phone ring ===============*/
@keyframes suntory-alo-ring-ring {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}